.disabled {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.5s ease; /* Add transition duration */
}

.setting-error {
  color: red;
  font-size: 14px;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-90%);
  transition: transform 0.5s ease; /* Add transition duration */
}

.dim {
  opacity: 0.5;
  transition: opacity 0.5s ease; /* Add transition duration */
}

.hide {
  display: none;
}

/* Fade-out class with opacity, max-height, and margin transitions */
.fade-out {
  opacity: 0;
  max-height: 0; /* Collapses the height */
  margin: 0; /* Smoothly removes the margin */
  padding: 0; /* Smoothly removes the padding */
  overflow: hidden; /* Prevents content from overflowing during collapse */
  transition: opacity 0.5s ease, max-height 0.5s ease, margin 0.5s ease, padding 0.5s ease; /* Smooth transition */
}

.dynamic-dom-initial-position {
  position: absolute;
  width: 317px; 
  top: 40%; /* Position at the top */
  left: -50%; /* Center horizontally */
  transform: translate(-50%);
  transition: all 0.5s ease;
}

.shift-sections-to-center {
  position: absolute;
  width: 317px; 
  top: 40%; /* Position at the top */
  left: 50%; /* Center horizontally */
  transform: translate(-50%);
  transition: all 0.5s ease;
}

.correct-answer {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.correct-answer-message{
  margin-bottom: 10px;
  padding: 10px;
}

.answer-message {
  margin: 0px;
  padding: 15px;
  font-size: 20px;
  font-weight: 200;
}