/* Define transition on the element itself */
.element {
  transition: opacity 0.5s ease, pointer-events 0.5s ease;
}

/* Define disabled state */
.disabled {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.setting-error {
  color: red;
  font-size: 14px;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-90%);
  transition: transform 0.5s ease; /* Add transition duration */
}

.dim {
  opacity: 0.5;
  transition: opacity 0.5s ease; /* Add transition duration */
}

.so-dim {
  opacity: 0.2;
  transition: opacity 0.2s ease; /* Add transition duration */
}

.hide {
  display: none;
}

.fade-hide {
  opacity: 0;
  transition: opacity 0.2s ease; /* or any duration you prefer */
}

.fade-in {
  opacity: 100;
  transition: opacity 0.3s ease;
}

.fade-out-light {
  opacity: 0;
  transition: opacity 0.3s ease; /* or any duration you prefer */
}


/* Fade-out class with opacity, max-height, and margin transitions */
.fade-out {
  opacity: 0;
  max-height: 0; /* Collapses the height */
  margin: 0; /* Smoothly removes the margin */
  padding: 0; /* Smoothly removes the padding */
  overflow: hidden; /* Prevents content from overflowing during collapse */
  visibility: hidden; /* Hides element from click/touch interactions */
  transition: opacity 0.5s ease, max-height 0.5s ease, margin 0.5s ease, padding 0.5s ease; /* Smooth transition */
}

.dynamic-dom-initial-position {
  position: absolute;
  width: 317px; 
  top: 35%; /* Position at the top */
  left: -50%; /* Center horizontally */
  transform: translate(-50%);
  transition: all 0.5s ease;
}

.shift-sections-to-center {
  position: absolute;
  width: 317px; 
  top: 35%; /* Position at the top */
  left: 50%; /* Center horizontally */
  transform: translate(-50%);
  transition: all 0.5s ease;
}

.shift-sections-to-top-center {
  position: absolute;
  width: 317px; 
  top: 5%; /* Position at the top */
  left: 50%; /* Center horizontally */
  transform: translate(-50%);
  transition: all 0.5s ease;
}