.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.setting-error {
  color: red;
  font-size: 14px;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-80%);
  transition: transform 0.5s ease; /* Add transition duration */
}

.dim {
  opacity: 0.3;
  transition: opacity 0.5s ease; /* Add transition duration */
}

.hide {
  display: none;
}