#settingsForm > div[id^="settings"] {
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.setting-error {
  color: red;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-80%);
  transition: transform 0.5s ease; /* Add transition duration */
}

/*.hide {
  display: none;
}*/

.dim {
  opacity: 0.3;
  transition: opacity 0.5s ease; /* Add transition duration */
}

.flush-memory-btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: rgba(249, 249, 249, 0.2);
}