#settingsForm > div[id^="settings"] {
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.setting-error {
  color: red;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-130%);
  transition: transform 0.5s ease; /* Add transition duration */
}

.dim {
  opacity: 0.3;
  transition: opacity 0.5s ease; /* Add transition duration */
}

/*
.flush-memory-btn,
.bring-back-btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: rgba(249, 249, 249, 0.2);
}
*/

[class$="setting-btn"] {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: rgba(249, 249, 249, 0.2);
}

.submit-setting-btn {
  width: 90%;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.bring-back-setting-btn {
  display:inline-block;
  transform: rotate(90deg);
}

.hide {
  display: none;
}