#settingsForm > div[id^="settings"] {
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.3;
}

.setting-error {
  color: red;
}

#settingsForm {
  position: relative;
  transition: all 0.5s ease;
}

.moved {
  transform: translateY(-100%);
  transition: transform 0.5s ease; /* Add transition duration */
}

.hide {
  display: none;
}

.dim {
  opacity: 0.3;
  transition: opacity 0.5s ease; /* Add transition duration */
}