/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  color: whitesmoke;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  height: 100vh;
  width: 100%
}

form#settingsForm {
  /*max-width: 280px;*/
  font-size: 15px;
}

#settingsForm > * {
  transition: margin 0.5s ease, padding 0.5s ease, opacity 0.5s ease, pointer-events 0.5s ease; /* Add transition for child elements */
}

section {
  font-size: 30px;
  text-align: center;
  opacity: 100;

  transition: margin 0.5s ease, padding 0.5s ease, opacity 0.5s ease, pointer-events 0.5s ease; /* Add transition */
}

#section-status {
  margin-bottom: 0px;
  display: flex;
  justify-content: end;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  gap: 15px;
}

#section-question-and-message {
  position: relative;
}

#section-question {
  font-size: 40px;
  margin-bottom: 15px;
  padding-top: 20px;
}

#section-message {
  font-size: 20px;
  /*margin: 0 0 25px 0;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

#memory-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.overlay-message {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  z-index: 10;
}

section.en,
div.en {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

section.jp,
div.jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.flash-correct-answer {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  opacity: 100;
  transition: opacity 0.3s ease; /* or any duration you prefer */
}

.correct-answer-message{
  margin-bottom: 10px;
  padding: 10px;
}

.answer-message {
  margin: 0px;
  padding: 15px;
  font-size: 20px;
  font-weight: 200;
  opacity: 100;
  transition: opacity 0.3s ease; 
}

.wrong-answer,
.mcq-correct-answer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrong-answer{
  /*background-color: rgba(255, 124, 124, 0.9);*/
  background-color: rgba(245, 67, 67, 0.9);
  color: white;
}

.mcq-correct-answer {
  background-color: rgba(40, 96, 249, 0.95);
  color: white;
}

.runtime-error {
  /*
  styles for runtime error, usually display in section-message
  */
  font-size: 12px;
  color: red;
}

/* Container for the entire mistake list */
.mistake-list-container {
  display: grid;
  /*grid-template-columns: repeat(4, 1fr);*/ /* Four equal columns */
  grid-template-columns: 20px 2fr 2fr 2fr; /* First column: 50px; second: flexible for Kanji; third & fourth: equal share of remaining space */
  gap: 8px 0; /* Add space between rows */
}

/* Row for mistake items */
.mistakes-row {
  display: contents; /* Use 'contents' to handle grid layout for rows */
}

/* Individual columns */
.mistakes-column {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3); /* Optional: for a table-like border */
}

/* Header row */
.mistakes-row-header {
  display: contents; /* Ensures the grid applies to the header as well */
  font-weight: bold;
}

/* Header columns */
.mistakes-column-header {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  /*background-color: #f4f4f4;  Optional: for table header background */
  border-bottom: 2px solid #c4c4c4; /* Optional: for a bold header separator */
}

.mistakes-heading,
.mistakes-row,
.mistakes-column {
  font-size: 16px;
  font-weight: 200;
}